@import url('https://fonts.googleapis.com/css2?family=ZCOOL+KuaiLe&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:ital@1&family=Roboto+Condensed:wght@300&display=swap');

.App {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.app-content {
  width: 95%;
}

* {
  font-family: 'Roboto Condensed', sans-serif;
}

.app-header {
  display: flex;
  justify-content: center;
}


body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sudoku-screen {
  max-width: 2000px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.boxes-row {
  display: flex;
  flex-direction: row;

}

.box-inner-row {
  display: flex;
  flex-direction: row;

}

.box {
  display: flex;
  flex-direction: column;
}

.cell {
  border: 2px solid black;
}

input {
  font-family: 'ZCOOL KuaiLe', cursive;
  font-size: 20px;
  width: 20px;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
}

button {
  font-size: 30px;
  border-radius: 40px;
}

.size-changer {
  width: 500px;
  font-size: 20px
}